config/

data/db/
data/db/h2db/cruise.h2.db
data/db/h2db/cruise.trace.db
data/db/h2db/cruise.lock.db

data/logs/

data/plugins/bundled/
data/plugins/go-plugins-all.zip

data/artifacts/

scripts/shared/autoregister.key
